{% extends "petition/base.html" %}
{% load static %}

{% block title %}
Woodstock Petitions | About us
{% endblock %}

{% block body %}
<div class="container py-4">
  <div class="row px-3">
    <a href="{% url 'index' %}" class="text-dark"><i class="fas fa-angle-left fa-lg"></i> Go Back</a>
  </div>
  <div class="row mt-4 mx-1">
    <h1>About Us</h1>
  </div>
  <div class="row my-3">
    <div class="col">
      <h3>This site was made to collect student voices in an efficient mannor.</h3>
    </div>
  </div>
</div>
{% endblock %}
