{% extends "petition/base.html" %}
{% load static %}

{% block title %}
Woodstock Petitions | Index
{% endblock %}

{% block body %}

<div class="image-background">
  <div class="bottom-left">
    <h2>Woodstock Petitons</h2>
  </div>
</div>

<div class="row border-bottom p-0 m-0" style="cursor: pointer;">
  <div class="col-4 tab text-center py-2 px-0 m-0 tab-active d-none d-lg-block"
    onclick="window.location.href = '{% url 'index' %}'">
    <p class="my-2 border-right">Petitions by Categories</p>
  </div>
  <div class="col-4 tab text-center py-2 px-0 m-0 d-none d-lg-block"
    onclick="window.location.href = '{% url 'index' %}'">
    <p class="my-2">Closed Petitions</p>
  </div>
  <div class="col-4 tab text-center py-2 px-0 m-0 d-none d-lg-block"
    onclick="window.location.href = '{% url 'index' %}'">
    <p class="my-2 border-left">Answered Petitions</p>
  </div>
  <div class="col-4 tab text-center py-2 px-0 m-0 tab-active d-lg-none"
    onclick="window.location.href = '{% url 'index' %}'">
    <p class="my-2 border-right">Categories</p>
  </div>
  <div class="col-4 tab text-center py-2 px-0 m-0 d-lg-none" onclick="window.location.href = '{% url 'index' %}'">
    <p class="my-2">Closed</p>
  </div>
  <div class="col-4 tab text-center py-2 px-0 m-0 d-lg-none" onclick="window.location.href = '{% url 'index' %}'">
    <p class="my-2 border-left">Answered</p>
  </div>
</div>


<div class="container py-3">
  <div class="card d-block border-0">
    <div class="card-body">
      <h4 class="card-title animated fadeInDown">Sign Petitions</h4>
      <p class="card-text">We believe that your voice matters. If there are more than 100 signatures in 30 days, STUCO
        will anwser the petitions.</p>
      <a href="{% url 'new' %}" class="btn btn-success">Start a petition</a>
    </div>
  </div>
  <hr>

  <div class="row">
    <h4 class="d-block text-left mb-1 p-2 pl-3 font-weight-light animated fadeInDown">Top 5 Petitions</h4>
  </div>
  <table class="table d-none d-lg-block">
    <thead>
      <tr class="text-center">
        <th scope="col" style="width: 5%">#</th>
        <th scope="col" style="width: 10%">Category</th>
        <th scope="col" style="width: 60%">Title</th>
        <th scope="col" style="width: 15%">End date</th>
        <th scope="col" style="width: 10%">Supporters</th>
      </tr>
    </thead>
    <tbody>
      {% for post in top %}
      <tr class="table-tr" onclick="window.location.href = '{% url 'post' post.id %}'" style="cursor:pointer;">
        <th scope="row" class="text-muted">{{ post.id }}</th>
        <td class="text-success">{{ post.category }}</td>
        <td><a href="{% url 'post' post.id %}" class="text-dark">{{ post.title }}</a></td>
        <td class="text-center">{{ post.end.day }}.{{ post.end.month }}.{{ post.end.year }}</td>
        <td class="text-center">{{ post.num_supporters }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% for post in top %}
  <div class="card mb-3 shadow d-block d-lg-none"
    onclick="window.location.href = '{% url 'post' post.id %}'" style="cursor: pointer;">
    <div class="card-body px-3">
      <p class="card-text text-success mb-1">{{ post.category }}</p>
      <p class="card-text mb-1">{{ post.title }}</p>
      <div class="d-flex justify-content-between">
        <p class="card-text text-secondary my-0">{{ post.end.day }}.{{ post.end.month }}.{{ post.end.year }}</p>
        <a href="#" class="card-link text-success my-0">{{ post.num_supporters }} Signed</a>
      </div>
      <div class="progress mt-3 mb-n2">
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar"
              style="width: {{ post.num_supporters }}%" aria-valuenow="{{ post.num_supporters }}"
              aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
  </div>
  {% endfor %}


  <div class="row">
    <h4 class="d-block text-left mb-0 p-2 pl-3 font-weight-light animated fadeInDown">Recent Petitions</h4>
    <!--<a href="{% url 'index' %}" class="d-block ml-auto mr-auto mr-lg-5 text-success text-right pt-3">See more</a>-->
  </div>

  <table class="table d-none d-lg-block">
    <thead>
      <tr class="text-center">
        <th scope="col" style="width: 5%">#</th>
        <th scope="col" style="width: 10%">Category</th>
        <th scope="col" style="width: 60%">Title</th>
        <th scope="col" style="width: 15%">End date</th>
        <th scope="col" style="width: 10%">Supporters</th>
      </tr>
    </thead>
    <tbody id="recentTable">
      {% for post in posts %}
      <tr class="table-tr" onclick="window.location.href = '{% url 'post' post.id %}'" style="cursor:pointer;">
        <th scope="row" class="text-muted">{{ post.id }}</th>
        <td class="text-success">{{ post.category }}</td>
        <td><a href="{% url 'post' post.id %}" class="text-dark">{{ post.title }}</a></td>
        <td class="text-center">{{ post.end.year }}-{{ post.end.month }}-{{ post.end.day }}</td>
        <td class="text-center">{{ post.num_supporters }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        {% for i in page %}
        <li class="page-item"><a class="page-link" onclick="page({{ i }})" style="cursor: pointer">{{ i }}</a></li>
        {% endfor %}
      </ul>
    </nav>

<div id="recentCard">
  {% for post in posts %}
  <div class="card mb-3 shadow d-lg-none"
    onclick="window.location.href = '{% url 'post' post.id %}'" style="cursor: pointer;" id="cardbody">
    <div class="card-body px-3">
      <p class="card-text text-success mb-1">{{ post.category }}</p>
      <p class="card-text mb-1">{{ post.title }}</p>
      <div class="d-flex justify-content-between">
        <p class="card-text text-secondary my-0">{{ post.end }}</p>
        <a href="#" class="card-link text-success my-0">{{ post.num_supporters }} Signed</a>
      </div>
      <div class="progress mt-3 mb-n2">
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar"
              style="width: {{ post.num_supporters }}%" aria-valuenow="{{ post.num_supporters }}"
              aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

</div>
<script>
function postClick(id){
    window.location.href = 'petitions/'+id
};
function page(currentPage) {
    fetch("indexPage", {
    headers:{
      'Accept': 'application/json',
      'X-Requested-With': 'XMLHttpRequest', //Necessary to work with request.is_ajax()
      'page': currentPage,
    },
    })
    .then(response => {
      return response.json();
    })
    .then(data => {
      rawdata = data['show']
      $( "#recentTable" ).html ('');
      for (i = 0; i < rawdata.length; i++) {
          var posts = JSON.parse(rawdata[i])
          post = posts[0].fields
          $( "#recentTable" ).append(
          '<tr class="table-tr" onclick="postClick('+posts[0].pk+')" style="cursor:pointer;"><th scope="row" class="text-muted">'+posts[0].pk+'</th><td class="text-success">'+post.category+'</td><td><a href="petitions/'+posts[0].pk+'" class="text-dark">'+post.title+'</a></td><td class="text-center">'+post.end+'</td><td class="text-center">'+posts[0].num+'</td></tr>');
      }
    })
};
</script>
{% endblock %}
